@font-face {
    font-family: 'Norse Bold';
    src: url('Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body and Container Styling */
body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
}

/* Logo Section */
.logo {
    width: 30%;
    background-image: url('wooods.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra todo el contenido dentro de la columna */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
}

.logo .logo-image {
    display: flex; /* Flexbox para alinear los elementos en una línea */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Alinea el logo y texto en el centro */
    text-align: center; /* Asegura que el texto esté centrado */
    color: white;
    font-family: 'Norse Bold', sans-serif;
    font-size: 5rem; /* Aumenta el tamaño del texto */
    width: 80%; /* Asegura que los elementos dentro de .logo-image no ocupen todo el ancho */
}

.logo img {
    max-width: 50%; /* Ajusta el logo para que no ocupe todo el espacio */
    height: auto;
}
/* Signup Section */
.signup {
    width: 70%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

/* Intro Text */
.intro-text {
    margin-bottom: 20px;
    color: #333;
    line-height: 1.6;
}

/* Form Styling */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    border: 1px solid blue;
    outline: none;
}

input:invalid {
    border: 1px solid red;
}

#createButton {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#createButton:hover {
    background-color: #45a049;
}

/* Link Styling */
.signup div {
    margin-top: 10px;

}

.signup a {
    color: #4CAF50;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}